<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="myClass" class="com.test01.MyClass"/>
	<bean id="date" class="java.util.Date"></bean>
	
	<bean id="beanTest" class="com.test01.BeanTest">
		<!-- 1. public BeanTest(Date date) 호출 -->
		<constructor-arg ref="date" />
		<!-- 2. public void setMyClass(MyClass myclass) 호출 -->
		<property name="myClass" ref="myClass"/>
		<!-- 3. public void setDate(Date date) 호출 -->
		<property name="date" ref="date"/>
		<!-- 4. public void setNumber(int num) 호출 -->
		<property name="number" >
			<value type="int">22</value>
		</property>
		
		<property name="array">
			<array>
				<value>양다연</value>
				<value>박준형</value>
				<value>해리</value>
			</array>
		</property>
		<!-- 6. public void setList(List<String>List 호출-->
		<property name="list">
			<list>
				<value>봄</value>
				<value>여름</value>
				<value>가을</value>
				<value>겨울</value>
			</list>
		</property>
		
		<!-- 7. public void setMap(Map<String,String> map) 호출 -->
		<property name="map">
			<map>
				<entry>
					<key><value>1</value></key>
					<value>봄</value>
				</entry>
				<entry>
					<key><value>2</value></key>
					<value>여름</value>
				</entry>
				<entry key="3" value="가을"></entry>
				<entry key="4" value="겨울"></entry>
			</map>
		</property>
		
		<!-- 8. property void setScore(List<Score>list) -->
		<property name="score">
			<list>
				<ref bean="sc"/>
				<ref bean="sc2"/>
				<bean class="com.test01.Score">
					<property name="name" value="박준형"/>
					<property name="kor" value="100"/>
					<property name="eng" value="90"/>
					<property name="math" value="80"/>
				</bean>
					
			</list>
		</property>
		
		</bean>
		
		<bean id="sc" class="com.test01.Score">
			<constructor-arg value="양다연"/>
			<constructor-arg value="100"/>
			<constructor-arg value="90"/>
			<constructor-arg value="85"/>
		
		</bean>
		<bean id="sc2" class="com.test01.Score"/>
</beans>
